@media (max-width:730px){
    header{
        height: 95vh;
    }
    .side-bar{
        width: 100%;
        right: -100rem;
    }
    .sessao-artes{
        height: 200vh;
    }
    .artes{
        height: 90%;
        width: 100%;
    }
    .arte{
        width: 90%;
        height: 16%;
    }
    .bnt{
        padding: 1rem 2rem;
    }
    .buttons i{
        display: none;
    }
    .informações{
        flex-direction: column;
    }
    .img-wrapper img{
        display: none;
    }
    .img-wrapper{
        background-image: url(/banner-site-mobile.png);
        background-size: cover;
    }
}
@media (max-width:1300px){
    .banner{
        top: 25%;
        width: 80%;
        height: 10%;
    }
    .txt-banner h1{
        font-size: 2rem;
        margin-bottom: 4rem;

    }
    .txt-banner legend{
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    .txt-banner p{
        font-size: 1rem;
    }
    .img-wrapper img{
        width: 100%;
    }
}