@media (max-width:1200px){
    .banner{
        top: 30%;
        width: 80%;
        height: 10%;
    }
    .img-wrapper img{
        width: 100%;
    }
}
@media (max-width:950px){
    .banner{
        top: 40%;
    }
    .txt-banner h1{
        font-size: 2.8rem;
    }
    .txt-banner legend{
        font-size: 1.5rem;
    }
    .txt-banner p{
        font-size: 1.6rem;
    }
    .mostre-side-bar .hamburguer{
        right: 41%;
    }
    .side-bar{
        width: 60%;
        right: -100rem;
    }
}
@media (max-width:780px){
    header{
        height: 100vh;
        color: white;
        text-shadow: 1px 1px 1px rgba(19, 19, 19, 0.603);
    }
    .txt-banner h1{
        font-size: 2rem;
        margin-bottom: 4rem;

    }
    .txt-banner legend{
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    .txt-banner p{
        font-size: 1rem;
    }
    .side-bar{
        width: 70%;
        right: -100rem;
    }
    .side-bar .menu{
        font-size: 1.5rem;
    }
    .artes-bnt .bnt{
        padding: 1rem 1.2rem;
        font-size: 1.5rem;
    }
    .mostre-side-bar .hamburguer{
        right: 52%;
    }
    .sessao-artes{
        height: 200vh;
    }
    .artes{
        height: 90%;
        width: 100%;
    }
    .arte{
        width: 90%;
        height: 16%;
    }
    .bnt{
        padding: 1rem 2rem;
    }
    .buttons i{
        display: none;
    }
    .sessao-informações{
        height: 140vh;
    }
    .informações{
        flex-direction: column;
        height: 100%;
    }
    .about-me{
        width: 80%;
        text-align: center;
    }
    .img-wrapper img{
        display: none;
    }
    .img-wrapper{
        background-color: rgb(93, 140, 228);
        background-image: url(/banner-site-mobile.png);
        opacity: 0.7;
        background-attachment: fixed;
        background-size: cover;
    }
    .mim-info{
        flex-direction: column;
    }
    .mim-info:nth-child(2){
        flex-direction: column;
    }
    .sessao-sobre-mim{
        height: 180vh;
    }
    .img-sobre-mim{
        margin-bottom: 1rem;
        width: 90%;
        height: 60%;
    }
    .text-sobre-mim{
        width: 95%;
    }
    .sobre-mim{
        margin: 30rem 0;
    }
    .button-up{
        height: 3.5vh;
    }
    footer{
        height: 15vh;
        padding: 0 3rem;
    }
    .copyright{
        font-size: 1rem;
        width: 100%;
    }
    .redes-sociais i{
        font-size: 1.8rem;
        width: 30%;
    }
}