@import url(https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css);
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}
:root{
    --background1: rgb(179, 114, 240);
}
html{
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}
body{
    height: -webkit-fill-available;
    overflow-x: hidden;
}
header{
    height: -webkit-fill-available;
    background-color: #ffffff;
    color: black;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.hamburguer{
    background-color: var(--background1);
    padding: .5rem;
    border-radius: 5px;
    position: fixed;
    right: 2rem;
    top: 3rem;
    z-index: 100;
    cursor: pointer;
    transition: .3s;
    box-shadow: 1px 1px 1px black;
}
.hamburguer .line{
    transition: .5s;
}
.mostre-side-bar .hamburguer{
    right: 26%;
}
.mostre-side-bar .line:nth-child(1){
    transform: rotate(42deg) translate(.1rem, .2rem);
}
.mostre-side-bar .line:nth-child(2){
    display: none;
}
.mostre-side-bar .line:nth-child(3){
    transform: rotate(-42deg) translate(.1rem, -.2rem);
}
.hamburguer span{
    position: absolute;
    left: 108%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: .1rem;
    background-color: #3f4149;
    color: white;
    height: 2rem;
    width: 8rem;
    opacity: 0;
    transition: .3s;
    border-radius: 20px 0 0 20px;
}
.hamburguer div{
    background-color: #f1f1f1f1;
    margin: .3rem;
    height: .14rem;
    width: 1.5rem;
    right: 2rem;
}
.mostre-side-bar .hamburguer:hover span{
    opacity: 1;
}
.side-bar{
    position: fixed;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 35%;
    top: 0%;
    right: -150rem;
    transition: .3s;
    z-index: 90;
}
.side-bar .menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    text-decoration: none;
    line-height: 5rem;
    margin-bottom: 10%;
}
.mostre-side-bar .side-bar{
    right: 0;
}
.social-media{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.social-media i{
    display: none;
    background-color: #d192f7;
    color: #ffffff;
    border-radius: 50%;
    font-size: 2rem;
    padding: .5rem;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.562);
    cursor: pointer;
    transition: .3s;
}
.menu a{
    text-decoration: none;
    color: black;
}
.artes-bnt .bnt{
    padding: 1rem 2rem;
    color: white;   
}
.img-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
}
.img-wrapper img{
    object-fit:contain;
    height: 100%;
    width: 120%;
}
.banner{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.txt-banner{
    margin-bottom: 3rem;
}
.txt-banner h1{
    font-size: 4.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    animation: exibir-banner 1s .2s forwards;
    opacity: 0;
}
.txt-banner legend{
    animation: exibir-banner 1s .3s forwards;
    font-size: 1.7rem;
    opacity: 0;
    color: rgb(230, 62, 62);
    margin-bottom: 1rem;
}
.txt-banner p{
    font-size: 2.2rem;
    animation: exibir-banner 1s .4s forwards;
    opacity: 0;
}
.buttons{
    position: absolute;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    animation: exibir-banner 1s .5s forwards;
    opacity: 0;
}
.bnt{
    background-color: #d86b7d;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    padding: 1rem 3rem;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.562);
    transition: .3s;
    cursor: pointer;
}
.bnt:hover{
    background-color: #a55260;
}
.buttons i{
    background-color: #d192f7;
    color: #ffffff;
    border-radius: 50%;
    font-size: 2rem;
    padding: .5rem;
    margin: 0 1rem;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.562);
    cursor: pointer;
    transition: .3s;
}
.buttons i:hover{
    padding: 1rem;
    font-size: 2.5rem;
}
@keyframes exibir-banner{
    0%{
        transform: translateY(20rem);
    }100%{
        transform: translateY(1);
        opacity: 1;
    }
}
/*sessao-artes*/
.sessao-artes{
    background-color: #e7e7e7;
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-txt{
    margin-top: 1rem;
    text-align: center;
}
.artes{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.arte{
    background-color: #ffffff;
    height: 45%;
    width: 30%;
    border-radius: 10px;
    margin: 1% 1%;
    cursor: pointer;
    position: relative;
}
.artes .arte i{
    position: absolute;
    font-size: 2rem;
    background-color: rgb(158, 31, 184);
    color: rgb(217, 231, 14);
    border-radius: 10px 0 10px 0 ;
    padding: .5rem 1.1rem;
}
.arte img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: .3s;
}
.arte img:hover{
    padding: 1rem;
    border: rgb(255, 255, 255) solid 6px;
}
/*sessao-informações*/
.sessao-informações{
    background-color: #ffffff ;
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.informações{
    height: 70%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.informação{
    background-color: #e7e7e7;
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.informação i{
    color: rgb(61, 61, 61);
    font-size: 4rem;
    margin-bottom: .8rem;
}
.informação img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.about-me{
    width: 35%;
    padding: 0 3rem;
}
/*sessao sobre mim*/
.sessao-sobre-mim{
    background-color: #e7e7e7;
    height: 180vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobre-mim{
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mim-info{
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    padding: 2% 0;
}
.mim-info:nth-child(2){
    flex-direction: row-reverse;
}
.img-sobre-mim{
    background-color: #ffffff;
    height: 100%;
    width: 40%;
}
.img-sobre-mim img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.text-sobre-mim{
    width: 60%;
    max-height: 20rem;
    margin-left: 1rem;
}
/*botão que leva para o começo da página*/

.button-up{
    position: fixed;
    background-color: rgb(179, 114, 240);
    text-decoration: none;
    color: white;
    height: 3.1rem;
    width: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    right: 3%;
    bottom: 10%;
    border-radius: 100%;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}
.button-up i{
    font-size: 1.3rem;
}
/*.button-up[data-voltar]::after{
    position: absolute;
    background-color: #3f4149;
    content: attr(data-voltar);
    height: 2.5rem;
    width: 15rem;
    bottom: 120%;
    right: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 20px;
    cursor: help;
}
.button-up:hover::after {
    opacity: 1;
    transition: .3s;
}*/
/*footer*/
footer{
    background-color: #202025;
    color: white;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
}
footer a{
    color: white;
}
.copyright{
    font-size: 1rem;
    width: 80%;
}
.redes-sociais i{
    font-size: 1.5rem;
    padding: 0 1rem;
    width: 30%;
}